h1{
  margin-bottom: 50px;
}

.bar-chart-container{
  max-width: 400px;
  margin: auto;
}

.chart-axis{
  height: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: 20px;
}

.bar-chart-bar{
  border: 1px solid black;
}
